/* Resetowanie marginesów i paddingów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Nagłówek */
header {
    background-color: #1a1a1a;
    color: #ffffff;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #c10000; /* Czerwony pasek */
}

.logo img {
    height: 50px;
}

.contact-info {
    font-size: 14px;
    color: #ffffff;
}

.contact-info p {
    margin: 0;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #003366; /* Ciemnoniebieski pasek */
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sekcja O firmie */
.about-section {
    background: url('background_image.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 20px;
    text-align: center;
    position: relative;
}

.about-section h2 {
    color: #ffffff;
    font-size: 36px;
}

.about-section p {
    color: #ffffff;
    margin-top: 10px;
    font-size: 16px;
}

/* Główna zawartość */
main {
    padding: 20px;
    background-color: #ffffff;
    margin-top: -20px;
}

.about-company {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #dddddd;
}

.about-company h3 {
    font-size: 28px;
    color: #c10000; /* Czerwony nagłówek */
}

.about-company p {
    width: 60%;
    font-size: 18px;
    line-height: 1.6;
}

.image-container img {
    height: 200px;
    width: auto;
}

/* Sekcja ze zdjęciem i opisem */
.section-img-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #003366; /* Ciemnoniebieska sekcja */
    color: white;
}

.section-img-desc img {
    max-width: 100%;
    height: auto;
}

.section-img-desc .text {
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.6;
}

/* Stopka */
footer {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    font-size: 14px;
}
