/* Resetowanie stylów */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Ciemne tło */
    color: #f4f4f4; /* Jasny kolor tekstu */
}

/* Container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #2c2c2c; /* Ciemne tło dla kontenera */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Nagłówek */
.header {
    text-align: center;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    color: #e74c3c; /* Kolor nagłówka */
}

.header h2 {
    font-size: 1.8em;
    color: #f4f4f4; /* Kolor podtytułu */
}

.contact-info p {
    margin: 5px 0;
}

/* Sekcje */
section {
    margin-bottom: 20px;
    opacity: 0; /* Ukryj sekcje na początku */
    transform: translateY(20px); /* Przesunięcie w dół */
    animation: fadeInUp 0.5s forwards; /* Animacja */
}

/* Animacja Fade In Up */
@keyframes fadeInUp {
    to {
        opacity: 1; /* Ujawnienie */
        transform: translateY(0); /* Przywrócenie do pierwotnej pozycji */
    }
}

section h2 {
    font-size: 2em;
    color: #e74c3c; /* Kolor nagłówków sekcji */
    margin-bottom: 10px;
    border-bottom: 1px solid #e74c3c; /* Linia pod nagłówkiem */
    padding-bottom: 5px;
}

.education-item,
.experience-item {
    border: 1px solid #444; /* Ciemniejsza ramka */
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #3d3d3d; /* Tło dla sekcji */
}

.education-item h3,
.experience-item h3 {
    font-size: 1.5em;
    color: #e74c3c; /* Kolor nagłówków */
}

.education-item p,
.experience-item p {
    font-size: 1.1em;
    margin: 5px 0;
}

/* Linie oddzielające sekcje */
hr {
    border: 0;
    height: 1px;
    background-color: #444; /* Ciemniejsza linia */
    margin: 20px 0;
}

/* Umiejętności */
.skills h3 {
    margin-top: 20px;
    font-size: 1.5em;
    color: #e74c3c; /* Kolor nagłówków umiejętności */
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    margin: 5px 0;
    font-size: 1.1em;
}

/* Tło dla całej strony */
body {
    padding: 20px; /* Dodatkowa przestrzeń w obrębie body */
}
